.logo {
  height: 3.25rem;
}

.search {
  flex: 0 0 40%;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    display: inline-block;
    border: none;
    background-color: var(--color-grey-light-4);
    font-family: inherit;
    font-size: 1.6rem;
    border-radius: 11px;
    padding: 0.4rem 1.2rem;
    width: 90%;
    transition: all 0.3s;
    margin-right: -3rem;

    &:focus {
      outline: none;
      width: 100%;
    }
  }

  &__input:focus + &__button &__icon {
    color: #111;
  }

  &__button {
    border: none;

    background-color: var(--color-grey-light-4);
    transition: all 0.2s;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(0.2rem);
    }
  }

  &__icon {
    height: 2.4rem;
    width: 2.4rem;
    border: none;
    background: transparent;
    color: var(--color-grey-light-1);
  }
}

.user-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  &__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__icon {
    height: 2.4rem;
    width: 2.4rem;
  }

  &__notification {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: var(--color-primary-dark);
    color: #fff;
    text-align: center;
    position: absolute;
    top: -0.6rem;
    right: -0.4rem;
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &-photo {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
    }

    &-name {
      display: inline-block;
      font-size: 1.5rem;
    }
  }
}

.side-nav {
  margin-top: 3.2rem;
  list-style: none;
  &__item {
    padding: 1.6rem 2.4rem;
    position: relative;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__item::before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary-dark);
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.4s;
  }

  &__item:hover::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item--active {
    background-color: var(--color-primary-dark);
  }

  &__link:link,
  &__link:visited {
    display: flex;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--color-grey-light-1);
    position: relative;
    z-index: 10;
  }

  &__icon {
    height: 1.75rem;
    width: 1.75rem;
    border: none;
    stroke: #fff;
    margin-right: 2rem;
    fill: currentColor;
  }
}

.legal {
  font-size: 1.4rem;
  padding: 1.6rem 2.4rem;
  color: var(--color-grey-light-1);
  text-align: center;
}

.gallery {
  display: flex;

  &__photo {
    width: 100%;
  }
}

.overview {
  margin-top: -0.5rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  gap: 4.8rem;

  &__heading {
    font-size: 2.4rem;
    color: var(--color-grey-dark-2);
    text-transform: uppercase;
  }

  &__stars {
    margin-right: auto;
  }

  &__icon-star {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary-dark);
  }

  &__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary-dark);
  }

  .btn-inline {
    display: inline-block;
    border: none;
    background-color: transparent;
    color: var(--color-primary-dark);
    cursor: pointer;
    text-decoration: underline;
  }

  &__rating {
    background-color: var(--color-primary-light);
    padding: 0.5rem 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;

    &-average {
      font-size: 1.8rem;
    }
    &-count {
      font-size: 1.2rem;
      text-transform: uppercase;
    }
  }
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
  }

  &__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;

    // Older browsers
    // background-image: url(../img/chevron-thin-right.svg);
    // background-size: cover;

    background-color: var(--color-primary-dark);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(../img/chevron-thin-right.svg);
    mask-size: cover;
  }
}

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);

  display: flex;
  align-items: center;

  &__count {
    margin-right: auto;
  }

  &__friends {
    display: flex;
  }

  &__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;

    &:not(:last-child) {
      margin-right: -2rem;
    }
  }
}
